* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    border: 0px solid black;
}

.sidebar {
    width: 20%;
    padding: 20px;
    border-right: 0px solid black;
}

.admin {
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-item {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 10px;
}

.main-content {
    width: 60%;
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 0px solid black;
    border-radius: 20px;
}

.courses {
    display: flex;
    flex-direction: column;
}

.course-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.add-delete-buttons {
    width: 20%;
    padding: 20px;
    border-left: 0px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-delete-buttons button {
    border: 1px solid black;
    background: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
}

.add-course-text {
    display: block;
    visibility: hidden;
    text-align: left;
}
.add-course:hover + .add-course-text{
    visibility: visible;
    transition-delay: 0.3s;
}

.delete-course-text {
    display: block;
    visibility: hidden;
    text-align: left;
}
.delete-course:hover x .delete-course-text{
    visibility: visible;
    transition-delay: 0.3s;
}

