@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Vesper+Libre:wght@400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100 vh;
  background: url('./Asserts/Fondo.jpg');
  background-size: cover;
  background-position: center;
}

form .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

